<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%thread] [%logger{0}] Line:%L %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
	      <fileNamePattern>./logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>   
	      <maxHistory>3</maxHistory>    
	    </rollingPolicy>   
	    <encoder>   
	      <pattern>%date{yyyy/MM/dd HH:mm:ss}-%msg%n</pattern>   
	    </encoder>   
  	</appender>   
		
	<logger name="test" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="com.metasoft.flying.node" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.red5.server" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>	
	
<!--
	<root level="TRACE">	
		<appender-ref ref="STDOUT" />
	</root>	
-->
</configuration>