<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %date{"HH:mm:ss"} | %-8.8thread | %25.25(%logger:%L) | %-8.8M | %m%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE"> <appender-ref ref="STDOUT" /> </root>

    <logger name="org.teiid" additivity="false" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>