<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Game Server Manager</title>
    <meta http-equiv="refresh" content="30"/>
    #include("velocity/common/style.vm")
</head>
<body>
    <h1>Game server status</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Server Type</th>
                <th>Server Id</th>
                <th>Build Time</th>
                <th>Host</th>
                <th>RMI</th>
                <th>TCP</th>
                <th>Uptime</th>
                <th>Momory(M)</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            #foreach( $node in $nodes )
            <tr>
                <td>
                    $node.nodeInfo.type
                </td>
                <td>
                    $node.nodeInfo.id
                </td>
                <td>
                    $node.nodeInfo.buildTime
                </td>
                <td>
                    $node.nodeInfo.host
                </td>
                <td>
                    $node.nodeInfo.port
                </td>
                <td>
                    $node.nodeInfo.tcpPort
                </td>
                <td>
                    $node.upTime min
                </td>
                <td>
                    $node.nodeInfo.runtime.memoryUsed/$node.nodeInfo.runtime.memoryTotal
                </td>
                <td>
                    #if ($node.status == "stopped")
                    <span class="label label-important">$node.status</span>
                    #elseif ($node.status == "paused")
                    <span class="label label-warning">$node.status</span>
                    #else
                    <span class="label label-success">$node.status</span>
                    #end
                </td>
                <td>
                    #if ($node.status == "onservice")
                    <div class="btn-group">
                        <a href="/manage?cmd=pause&instanceId=$node.instanceId" class="btn btn-small">Pause</a>
                        <a href="/manage?cmd=stop&instanceId=$node.instanceId" class="btn btn-small">Stop</a>
                    </div>
                    #end

                    #if ($node.status == "paused")
                    <div class="btn-group">
                        <a href="/manage?cmd=onservice&instanceId=$node.instanceId" class="btn btn-small">Recover</a>
                        <a href="/manage?cmd=stop&instanceId=$node.instanceId" class="btn btn-small">Stop</a>
                    </div>
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>


    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn" data-toggle="modal">New Service Instance</a>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">New Service Instance</h3>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" id="instance-form">
                <div class="control-group">
                    <label class="control-label" for="server-ip">Server IP</label>

                    <div class="controls">
                        <input type="text" id="server-ip" name="serverip"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="service-type">Type</label>

                    <div class="controls">
                        <select id="service-type" name="type">
                            <option value="server-manager">server-manager</option>
                            <option value="frontend-loginserver">frontend-loginserver</option>
                            <option value="backend-statusserver">backend-statusserver</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="server-port">Port</label>

                    <div class="controls">
                        <input type="text" id="server-port" name="port">
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" onClick="createInstance()">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        function createInstance(){
            $.ajax({
                cache: true,
                type: "POST",
                url:"/manage?cmd=newinstance",
                data:$('#instance-form').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    alert(data);
                }
            });
        }
    </script>
</body>

#include("velocity/common/footer.vm")